<h1>Garden Bed details</h1>

<div>
  <h2>{{ garden.name }}</h2>
  <hr>
<ul>
    {% for bed in beds %}
        <li>Bed Name: {{ bed.name }}</li>
        <li>Description: {{ bed.description }}</li>
        <li>Plants: 
            <ul>
            {% for plant_bed, bed_plants in plants.items %} 
                {% if bed.id == plant_bed.id and bed_plants|length > 0%}
                    {% for plant in bed_plants %}
                        <li>{{ plant }}</li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </ul>
        </li>
        <hr>
    {% endfor %}
</ul>
</div>